@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    scroll-behavior: smooth;
}

.left-50 {
    left: 50%;
}
.right-50 {
    right: 50%;
}
.top-50 {
    top: 50%;
}

.-z-1 {
    z-index: -1;
}

.secondary-title {
    @apply text-3xl font-bold;
}
.secondary-title::after {
    content: "";
    @apply block w-6 h-2 bg-red-high rounded-full mb-1;
}
.section-paragraph {
    @apply text-light-low my-6 w-full max-w-xl;
}
[id] {
    scroll-margin-top: 100px;
}
.left-percentage {
    left: 5%;
}
.h-screen-partial{
    height: 80vh;
}
.nav-dot {
    transition: background 200ms, border-color 200ms;
}
.selected-circle {
    @apply border-red-high bg-red-high;
}
.nav-dot:hover span {
    opacity: 1;
}
.project-title {
    @apply text-bright text-xl sm:text-2xl
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #262626;
    box-shadow: 0 0 1px 1px #111, inset 0 0 4px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #3e3e3e, #111, #000);
    box-shadow: inset 0 0 1px 1px #646464;
}

.project {
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
@media (min-width: 768px){
    .project:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
}
.front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back-card {
    transform: rotateY(180deg);
}

.nav {
    transition-duration: 1s;
}